.active {
  background-color: rgb(39, 160, 181);
}

nav {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #032438;
  color: white;
  position: sticky;
  top: 0;
  padding: -10px;
  /* border: 1px solid red; */
}

.title-link-wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
}

nav .title {
  font-size: 1.2rem;
  /* margin: rem; */
  font-weight: bold;
  text-decoration: none;
  color: white;
}

nav ul {
  display: flex;
  /* border: 1px solid red; */
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
  background-color: #172554;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}

@media (max-width: 700px) {
  nav .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 20px;
    /* border: 1px solid orange; */
  }
  .title-link-wrapper{
   flex-direction: row-reverse;
  }
  .title-link-wrapper ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
    background-color: #fff;
   
    /* border: 1px solid red; */
  }
  .nav-list{
    gap: 20px;
    padding: 10px;
  }
.login-logout{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 10px;
  /* width: 80%; */
}
.log-out-btn{
  width: 100px;
}
  nav ul.open {
    display: flex;
  }

  nav ul li a {
    display: block;
    text-decoration: none;
    color: #032438;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    font-weight: 500;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease;
  }
  
  nav ul li a:not(.active):hover {
    background-color: #e0f0f8;
  }
  .logo-blog{
    display: none;
  }
}
